<div class="navbar">
    <ul>
        <li>
            <a routerLink="/navals" routerLinkActive="active">Navals</a>
        </li>
        <li>
            <a routerLink="/romance" routerLinkActive="active">Romance</a>
        </li>
        <li>
            <a routerLink="/stories" routerLinkActive="active">Stories</a>
        </li>
        <li>
            <a routerLink="/history" routerLinkActive="active">History</a>
        </li>

        <!-- <li>
            <a routerLink="/navals">All Navals</a>
        </li>
        <li>
            <a routerLink="/navals" routerLinkActive="active" [queryParams]="{'category' : 'Romance'}">Romance</a>
        </li>
        <li>
            <a routerLink="/navals" routerLinkActive="active" [queryParams]="{'category' : 'Stories'}">Stories</a>
        </li>
        <li>
            <a routerLink="/navals" routerLinkActive="active" [queryParams]="{'category' : 'History'}">History</a>
        </li> -->
    </ul>
    <div class="search">
        <input class = "text" type="search">
        __<select class="opt">
        <option value="">        </option>  
        <option value="">  Title  </option>
        <option value="">  Author  </option>
    </select>
    </div>
</div>